manifest {
	author = "Christian Schudoma"
	defaultBranch = "main"
	description = "Metagenomics proteome analysis"
	name = "protoflow"
	nextflowVersion = ">=21.10.6"
	version = "0.1"
}

params {
	amplicon_seq = false
	test_subsampling = false
	run_sortmerna = false
	suffix_pattern = null
	custom_fastq_file_suffixes = null
	fix_read_ids = false

}

